---
import Layout from '../layouts/Layout.astro';
import BaseHead from '../sections/BaseHead.astro';
import Header from '../sections/Header.astro';
import MediumHero from '../sections/MediumHero.astro';
---

<Layout title="Learn more about Ableton - maker of Live and Push | Ableton">
	
	<main class="flex flex-col items-center">
		<BaseHead/>
		<MediumHero/>
	</main>
	
	
</Layout>

<style>
	
</style>
