---
import Title from '../components/Title.astro'
---
<section class="relative left-[-37%]">
    <ul class="flex flex-row gap-5 p-3  font-bold text-sm " >
        <li class="text-[#ff764d]">About</li>
        <li>Jobs</li>
        <li>Apprenticeships</li>
        </li>
    </ul>   
</section>
<main class="bg-white flex flex-col items-center justify-center pt-2 ml-32 mr-32 mb-32 ">
    
    <a href="" class="flex items-center justify-center w-11/12">
        <img 
            class="mr-28 ml-28 "
            src="/headerableton.avif" alt="Imagen principal de Ableton Live"
        >
        <Title/>
        
        
    </a>
</main>