<header class="flex flex-row justify-between p-6 text-base font-semibold bg-white">
    <ul class="flex flex-row gap-10">
        <li><a href="index.php">
            <img src="/Ableton.svg" alt="">
            </a></li>
        <li><a href="about.php">Live</a></li>
        <li><a href="contact.php">Push</a></li>
        <li><a href="index.php">Note</a></li>
        <li><a href="about.php">Link</a></li>
        <li><a href="contact.php">Shop</a></li>
        <li><a href="index.php">Packs</a></li>
        <li><a href="about.php">Hepl</a></li>
        <li><a href="contact.php" class="text-orange-500">More +</a></li>
    </ul>
    <ul class="flex flex-row justify-center gap-6 tracking-[0.1rem] font-bold items-center ">
        <li class="text-[#00f]  tracking-[-3px] text-lg">Try live 12 for free</li>
        <li class=" tracking-[-3px] text-base">Log in or register</li>
    </ul>
</header>