<section class="w-2/4 p-7">
    <h1>
        We make <strong>Live, Push, Note</strong> and <strong>Link</strong> — unique software and hardware for music creation and performance. With these products, our community of users creates amazing things.
    </h1>
</section>
<style>
    strong{
        color: #00f;
    }
</style>