---
// Supports weights 100-700
import '@fontsource-variable/roboto-mono';
import Header from '../sections/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Ableton.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="gap-[2px] flex flex-col">
		<Header />
		<div class="max-w-[1600px] px-6 bg-white">
			
			<slot />
		</div>
		
	</body>
</html>
<style is:global>
	html{
		background-color: #f3f3f3;
		display: flex;
		justify-content: center;
		font-family: 'Roboto Mono Variable', monospace;

	}

</style>
